<h1>How many products are in the database:</h1>
<p style="font-weight: bold; font-size: 2em; "><%= @product_count %></p>
<h1>How many categories are in the database:</h1>
<p style="font-weight: bold; font-size: 2em; "><%= @category_count %></p>
